<br><br><br>
### Module Title: Applied Data Science with Python 
### Module Code: CSMAD21 
### Lecturer responsible: Dr Carmen Lam and Dr Todd Jones 
### Student Number: 30825102
### Date : 
### Actual hrs spent on the assignment : (expected 40)
<br><br>
<hr style="border:2px solid black">

### Task 1 â€“ Bicycle Journeys: Exploratory Data Analysis

##### The libraries that are essential for the task are imported in the notebook for further use.

In [2]:
import pandas as pd 
import numpy as np

#### As the dataset is of csv format, the read_csv() function from pandas library is used import the dataset.

In [3]:
metro = pd.read_csv("metro.csv", sep = ',', dtype = {'bike_id': str})

In [5]:
type(metro)

pandas.core.frame.DataFrame

## Encountered Warning:
C:\Users\shrut\AppData\Local\Temp\ipykernel_3676\3546838290.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
Original code: metro = pd.read_csv("metro.csv")
#### Solved by specifying dtype while importing the file.

In [3]:
metro.head()

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,124657107,5,7/1/2019 0:04,7/1/2019 0:09,4312,34.066990,-118.290878,4410,34.063351,-118.296799,6168,30,One Way,Monthly Pass,standard
1,124657587,9,7/1/2019 0:07,7/1/2019 0:16,3066,34.063389,-118.236160,3066,34.063389,-118.236160,17584,30,Round Trip,Monthly Pass,electric
2,124658068,5,7/1/2019 0:20,7/1/2019 0:25,4410,34.063351,-118.296799,4312,34.066990,-118.290878,18920,30,One Way,Monthly Pass,electric
3,124659747,20,7/1/2019 0:44,7/1/2019 1:04,3045,34.028511,-118.256668,4275,34.012520,-118.285896,6016,1,One Way,Walk-up,standard
4,124660227,27,7/1/2019 0:44,7/1/2019 1:11,3035,34.048401,-118.260948,3049,34.056969,-118.253593,5867,30,One Way,Monthly Pass,standard

In [4]:
type(metro.iloc[1,10])

str

Why Bike sharing system?
While there are several advantages to this system, it comes with several difficulties for the operators like the optimum demand prediction due to different factors, which leads to a demand and supply problem for the operator, where to build new stations or expand old ones. They also need to know how they can maintain an adequate inventory of bikes.

Natural factors include seasons, months, day of week ,peak timings, working and non-working days, temperature, humidity etc. and man made factors consists of location of bike station, characteristics of the area.

Things I feel may affect the rush:
1. start time & end time (look for peek hrs)
2. Plan duration (pass type)
3. bike type

Things that can be done: (Pre processing)
1. Check rush months
2. Check peek hrs
3. Weekdays vs Weekends
4. Variation depending on season (monsoon more bus)

In [5]:
metro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92124 entries, 0 to 92123
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              92124 non-null  int64
 1   duration             92124 non-null  int64
 2   start_time           92124 non-null  object
 3   end_time             92124 non-null  object
 4   start_station        92124 non-null  int64
 5   start_lat            89985 non-null  float64
 6   start_lon            89985 non-null  float64
 7   end_station          92124 non-null  int64
 8   end_lat              88052 non-null  float64
 9   end_lon              88052 non-null  float64
 10  bike_id              92124 non-null  object
 11  plan_duration        92124 non-null  int64
 12  trip_route_category  92124 non-null  object
 13  passholder_type      92124 non-null  object
 14  bike_type            92124 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 10.5+ MB

Null values in start lat, start lon, end lat, end lon

#### Checking count of null values

In [6]:
metro.isnull().sum()

trip_id                   0
duration                  0
start_time                0
end_time                  0
start_station             0
start_lat              2139
start_lon              2139
end_station               0
end_lat                4072
end_lon                4072
bike_id                   0
plan_duration             0
trip_route_category       0
passholder_type           0
bike_type                 0
dtype: int64

To get rid of null values there are 2 options:
1. Remove rows (min 4072 or above rows can be deleted)
2. Drop lat and lon coloumns (4 cols)

### Removing rows with null values

In [7]:
mt_copy= metro

In [8]:
mt_copy = mt_copy.dropna(how='any',axis=0)

mt_copy.info()

In [9]:
mt_copy.duplicated().any()

False

## No Duplicates as the function returned false

In [10]:
mt_copy.describe()

,trip_id,duration,start_station,start_lat,start_lon,end_station,end_lat,end_lon,plan_duration
count,8.676000e+04,86760.000000,86760.000000,86760.000000,86760.000000,86760.000000,86760.000000,86760.000000,86760.000000
mean,1.274167e+08,26.996404,3445.616367,34.035340,-118.283984,3449.219006,34.035114,-118.284264,59.330440
std,1.526039e+06,95.720579,597.544205,0.058808,0.069444,598.836056,0.058812,0.070127,108.474264
min,1.246571e+08,1.000000,3005.000000,33.710979,-118.495422,3005.000000,33.710979,-118.495422,1.000000
25%,1.261132e+08,6.000000,3028.000000,34.038609,-118.279762,3028.000000,34.038609,-118.280182,30.000000
50%,1.274679e+08,11.000000,3052.000000,34.046822,-118.258537,3052.000000,34.046810,-118.258537,30.000000
75%,1.287317e+08,21.000000,4250.000000,34.051941,-118.248253,4250.000000,34.051941,-118.247490,30.000000
max,1.303877e+08,1440.000000,4453.000000,34.177662,-118.231277,4453.000000,34.177662,-118.231277,999.000000

In [11]:
mt_copy["plan_duration"].describe()

count    86760.000000
mean        59.330440
std        108.474264
min          1.000000
25%         30.000000
50%         30.000000
75%         30.000000
max        999.000000
Name: plan_duration, dtype: float64

In [12]:
mt_copy["plan_duration"].value_counts()

30     55907
1      21451
365     9375
999       27
Name: plan_duration, dtype: int64

In [13]:
mt_copy.groupby("passholder_type")["plan_duration"].describe()

,count,mean,std,min,25%,50%,75%,max
passholder_type,,,,,,,,
Annual Pass,5966.0,365.000000,0.00000,365.0,365.0,365.0,365.0,365.0
Flex Pass,6.0,365.000000,0.00000,365.0,365.0,365.0,365.0,365.0
Monthly Pass,55904.0,30.000000,0.00000,30.0,30.0,30.0,30.0,30.0
One Day Pass,3599.0,1.000000,0.00000,1.0,1.0,1.0,1.0,1.0
Testing,27.0,999.000000,0.00000,999.0,999.0,999.0,999.0,999.0
Walk-up,21258.0,59.273544,133.47371,1.0,1.0,1.0,1.0,365.0

In [14]:
mt_copy.groupby("passholder_type")["trip_route_category"].describe()

                 count unique         top   freq
passholder_type
Annual Pass       5966      2     One Way   5621
Flex Pass            6      1     One Way      6
Monthly Pass     55904      2     One Way  49866
One Day Pass      3599      2     One Way   2291
Testing             27      2  Round Trip     21
Walk-up          21258      2     One Way  14239

###### Count: Total number of pass holders acc. to type
###### Unique: No. of unique values in each category ( One way/ Round)
###### Top: Frequent in that category
###### Freq: Frequency of top type (check)

In [15]:
mt_copy.groupby("passholder_type")["bike_type"].describe()

                 count unique       top   freq
passholder_type
Annual Pass       5966      3  electric   3344
Flex Pass            6      2  standard      4
Monthly Pass     55904      3  electric  35311
One Day Pass      3599      3     smart   1667
Testing             27      1     smart     27
Walk-up          21258      3  standard   8830

In [16]:
mt_copy["bike_type"].unique()

array(['standard', 'electric', 'smart'], dtype=object)

In [17]:
mt_copy.groupby("bike_type")["passholder_type"].describe()

           count unique           top   freq
bike_type
electric   45818      5  Monthly Pass  35311
smart      11976      5       Walk-up   6286
standard   28966      5  Monthly Pass  16798

###### Type of pass held by different bike types
###### Top pass category for electric & standard is monthly pass

 So the first step is to convert them to date and time format using the function to_datetime() from the Pandas library. (can do)

#### Checking abnormality in trip duration

In [18]:
outliers_trip_duration = (mt_copy["duration"] < 1 | (mt_copy["duration"] > 480)) 
outliers_trip_duration.value_counts()

False    86760
Name: duration, dtype: int64

In [19]:
mt_copy.groupby("passholder_type")["duration"].max()

passholder_type
Annual Pass     1440
Flex Pass          9
Monthly Pass    1440
One Day Pass    1440
Testing          292
Walk-up         1440
Name: duration, dtype: int64

#### Consider a particular duration as a threshold and check for outliners

Checked for trips with duration > 12 hrs (720 mins) to find outliners

In [20]:
mt_copy[mt_copy["duration"] >= 720].count()

trip_id                456
duration               456
start_time             456
end_time               456
start_station          456
start_lat              456
start_lon              456
end_station            456
end_lat                456
end_lon                456
bike_id                456
plan_duration          456
trip_route_category    456
passholder_type        456
bike_type              456
dtype: int64

### Calculating the distance travelled by users

In [21]:
mt_copy["trip_distance"] = np.sqrt(((mt_copy["end_lat"] - mt_copy["start_lat"])**2) + ((mt_copy["end_lon"] - mt_copy["start_lon"])**2))

C:\Users\shrut\AppData\Local\Temp\ipykernel_13788\3146619345.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mt_copy["trip_distance"] = np.sqrt(((mt_copy["end_lat"] - mt_copy["start_lat"])**2) + ((mt_copy["end_lon"] - mt_copy["start_lon"])**2))
C:\Users\shrut\AppData\Local\Temp\ipykernel_13788\3146619345.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mt_copy["trip_distance"] = mt_copy["trip_distance"] * 111.139

In [ ]:
mt_copy["trip_distance"] = mt_copy["trip_distance"] * 111.139

In [22]:
mt_copy.head()

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type,trip_distance
0,124657107,5,7/1/2019 0:04,7/1/2019 0:09,4312,34.066990,-118.290878,4410,34.063351,-118.296799,6168,30,One Way,Monthly Pass,standard,0.772401
1,124657587,9,7/1/2019 0:07,7/1/2019 0:16,3066,34.063389,-118.236160,3066,34.063389,-118.236160,17584,30,Round Trip,Monthly Pass,electric,0.000000
2,124658068,5,7/1/2019 0:20,7/1/2019 0:25,4410,34.063351,-118.296799,4312,34.066990,-118.290878,18920,30,One Way,Monthly Pass,electric,0.772401
3,124659747,20,7/1/2019 0:44,7/1/2019 1:04,3045,34.028511,-118.256668,4275,34.012520,-118.285896,6016,1,One Way,Walk-up,standard,3.702761
4,124660227,27,7/1/2019 0:44,7/1/2019 1:11,3035,34.048401,-118.260948,3049,34.056969,-118.253593,5867,30,One Way,Monthly Pass,standard,1.254969

In [23]:
mt_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86760 entries, 0 to 92122
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              86760 non-null  int64
 1   duration             86760 non-null  int64
 2   start_time           86760 non-null  object
 3   end_time             86760 non-null  object
 4   start_station        86760 non-null  int64
 5   start_lat            86760 non-null  float64
 6   start_lon            86760 non-null  float64
 7   end_station          86760 non-null  int64
 8   end_lat              86760 non-null  float64
 9   end_lon              86760 non-null  float64
 10  bike_id              86760 non-null  object
 11  plan_duration        86760 non-null  int64
 12  trip_route_category  86760 non-null  object
 13  passholder_type      86760 non-null  object
 14  bike_type            86760 non-null  object
 15  trip_distance        86760 non-null  float64
dtypes: float64(5), int64(5), object(6)
memory usage: 11.3+ MB

In [24]:
mt_copy["start_time"] = pd.to_datetime(mt_copy["start_time"])
mt_copy["end_time"] = pd.to_datetime(mt_copy["end_time"])

C:\Users\shrut\AppData\Local\Temp\ipykernel_13788\3072117926.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mt_copy["start_time"] = pd.to_datetime(mt_copy["start_time"])
C:\Users\shrut\AppData\Local\Temp\ipykernel_13788\3072117926.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mt_copy["end_time"] = pd.to_datetime(mt_copy["end_time"])

In [25]:
mt_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86760 entries, 0 to 92122
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              86760 non-null  int64
 1   duration             86760 non-null  int64
 2   start_time           86760 non-null  datetime64[ns]
 3   end_time             86760 non-null  datetime64[ns]
 4   start_station        86760 non-null  int64
 5   start_lat            86760 non-null  float64
 6   start_lon            86760 non-null  float64
 7   end_station          86760 non-null  int64
 8   end_lat              86760 non-null  float64
 9   end_lon              86760 non-null  float64
 10  bike_id              86760 non-null  object
 11  plan_duration        86760 non-null  int64
 12  trip_route_category  86760 non-null  object
 13  passholder_type      86760 non-null  object
 14  bike_type            86760 non-null  object
 15  trip_distance        86760 non-null  float64
dtypes: datetime64[ns](2), float64(5), int64(5), object(4)
memory usage: 11.3+ MB

In [26]:
mt_copy["start_hour"] = mt_copy["start_time"].dt.hour
mt_copy["start_hour"].unique()

C:\Users\shrut\AppData\Local\Temp\ipykernel_13788\1171425692.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mt_copy["start_hour"] = mt_copy["start_time"].dt.hour

array([ 0,  1,  2,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23,  3], dtype=int64)

In [ ]:
mt_copy["start_day_num"] = mt_copy["start_time"].dt.dayofweek
day_dict = {0:"Sunday", 1:"Monday", 2:"Tuesday", 3:"Wednesday", 4:"Thursday", 5:"Friday", 6:"Saturday"}
mt_copy["start_day_name"]= mt_copy["start_day_num"].apply(lambda y:day_dict[y])

#### Change the day_dict (numbering of days) and change the condition in later code!!!

In [28]:
mt_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86760 entries, 0 to 92122
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   trip_id              86760 non-null  int64
 1   duration             86760 non-null  int64
 2   start_time           86760 non-null  datetime64[ns]
 3   end_time             86760 non-null  datetime64[ns]
 4   start_station        86760 non-null  int64
 5   start_lat            86760 non-null  float64
 6   start_lon            86760 non-null  float64
 7   end_station          86760 non-null  int64
 8   end_lat              86760 non-null  float64
 9   end_lon              86760 non-null  float64
 10  bike_id              86760 non-null  object
 11  plan_duration        86760 non-null  int64
 12  trip_route_category  86760 non-null  object
 13  passholder_type      86760 non-null  object
 14  bike_type            86760 non-null  object
 15  trip_distance        86760 non-null  float64
 16  start_hour           86760 non-null  int64
 17  start_day_num        86760 non-null  int64
 18  start_day_name       86760 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(7), object(5)
memory usage: 13.2+ MB

In [29]:
mt_copy.head(10)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type,trip_distance,start_hour,start_day_num,start_day_name
0,124657107,5,2019-07-01 00:04:00,2019-07-01 00:09:00,4312,34.066990,-118.290878,4410,34.063351,-118.296799,6168,30,One Way,Monthly Pass,standard,0.772401,0,0,Sunday
1,124657587,9,2019-07-01 00:07:00,2019-07-01 00:16:00,3066,34.063389,-118.236160,3066,34.063389,-118.236160,17584,30,Round Trip,Monthly Pass,electric,0.000000,0,0,Sunday
2,124658068,5,2019-07-01 00:20:00,2019-07-01 00:25:00,4410,34.063351,-118.296799,4312,34.066990,-118.290878,18920,30,One Way,Monthly Pass,electric,0.772401,0,0,Sunday
3,124659747,20,2019-07-01 00:44:00,2019-07-01 01:04:00,3045,34.028511,-118.256668,4275,34.012520,-118.285896,6016,1,One Way,Walk-up,standard,3.702761,0,0,Sunday
4,124660227,27,2019-07-01 00:44:00,2019-07-01 01:11:00,3035,34.048401,-118.260948,3049,34.056969,-118.253593,5867,30,One Way,Monthly Pass,standard,1.254969,0,0,Sunday
5,124659507,7,2019-07-01 00:51:00,2019-07-01 00:58:00,3056,34.037460,-118.265381,3031,34.044701,-118.252441,18530,30,One Way,Monthly Pass,electric,1.647992,0,0,Sunday
6,124662392,37,2019-07-01 01:22:00,2019-07-01 01:59:00,3047,34.039982,-118.266403,3047,34.039982,-118.266403,18877,30,Round Trip,Monthly Pass,electric,0.000000,1,0,Sunday
7,124663117,8,2019-07-01 02:06:00,2019-07-01 02:14:00,3069,34.050880,-118.248253,3022,34.046070,-118.233093,18984,30,One Way,Monthly Pass,electric,1.767640,2,0,Sunday
8,124664810,4,2019-07-01 02:43:00,2019-07-01 02:47:00,3014,34.056610,-118.237213,3030,34.051941,-118.243530,12126,30,One Way,Monthly Pass,standard,0.873018,2,0,Sunday
9,124669422,4,2019-07-01 04:17:00,2019-07-01 04:21:00,3075,34.042110,-118.256187,3064,34.046810,-118.256981,12398,30,One Way,Monthly Pass,standard,0.529755,4,0,Sunday

In [31]:
mt_copy["start_day_name"].unique()

array(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Saturday'], dtype=object)

In [42]:
mt_copy["weekend"] = np.where(((mt_copy["start_day_num"] == 6) | (mt_copy["start_day_num"] == 0)) , True, False)

C:\Users\shrut\AppData\Local\Temp\ipykernel_13788\3960194967.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mt_copy["weekend"] = np.where(((mt_copy["start_day_num"] == 6) | (mt_copy["start_day_num"] == 0)) , True, False)

In [43]:
mt_copy.head(60)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type,trip_distance,start_hour,start_day_num,start_day_name,weekend
0,124657107,5,2019-07-01 00:04:00,2019-07-01 00:09:00,4312,34.066990,-118.290878,4410,34.063351,-118.296799,6168,30,One Way,Monthly Pass,standard,0.772401,0,0,Sunday,True
1,124657587,9,2019-07-01 00:07:00,2019-07-01 00:16:00,3066,34.063389,-118.236160,3066,34.063389,-118.236160,17584,30,Round Trip,Monthly Pass,electric,0.000000,0,0,Sunday,True
2,124658068,5,2019-07-01 00:20:00,2019-07-01 00:25:00,4410,34.063351,-118.296799,4312,34.066990,-118.290878,18920,30,One Way,Monthly Pass,electric,0.772401,0,0,Sunday,True
3,124659747,20,2019-07-01 00:44:00,2019-07-01 01:04:00,3045,34.028511,-118.256668,4275,34.012520,-118.285896,6016,1,One Way,Walk-up,standard,3.702761,0,0,Sunday,True
4,124660227,27,2019-07-01 00:44:00,2019-07-01 01:11:00,3035,34.048401,-118.260948,3049,34.056969,-118.253593,5867,30,One Way,Monthly Pass,standard,1.254969,0,0,Sunday,True
5,124659507,7,2019-07-01 00:51:00,2019-07-01 00:58:00,3056,34.037460,-118.265381,3031,34.044701,-118.252441,18530,30,One Way,Monthly Pass,electric,1.647992,0,0,Sunday,True
6,124662392,37,2019-07-01 01:22:00,2019-07-01 01:59:00,3047,34.039982,-118.266403,3047,34.039982,-118.266403,18877,30,Round Trip,Monthly Pass,electric,0.000000,1,0,Sunday,True
7,124663117,8,2019-07-01 02:06:00,2019-07-01 02:14:00,3069,34.050880,-118.248253,3022,34.046070,-118.233093,18984,30,One Way,Monthly Pass,electric,1.767640,2,0,Sunday,True
8,124664810,4,2019-07-01 02:43:00,2019-07-01 02:47:00,3014,34.056610,-118.237213,3030,34.051941,-118.243530,12126,30,One Way,Monthly Pass,standard,0.873018,2,0,Sunday,True
9,124669422,4,2019-07-01 04:17:00,2019-07-01 04:21:00,3075,34.042110,-118.256187,3064,34.046810,-118.256981,12398,30,One Way,Monthly Pass,standard,0.529755,4,0,Sunday,True
10,124669421,4,2019-07-01 04:18:00,2019-07-01 04:22:00,4344,34.014309,-118.491341,4344,34.014309,-118.491341,15941,1,Round Trip,Walk-up,smart,0.000000,4,0,Sunday,True
12,124672806,17,2019-07-01 05:16:00,2019-07-01 05:33:00,4333,33.997231,-118.445969,4354,34.017681,-118.409081,15960,30,One Way,Monthly Pass,smart,4.687546,5,0,Sunday,True
13,124673775,18,2019-07-01 05:34:00,2019-07-01 05:52:00,3007,34.050480,-118.254593,3032,34.049889,-118.255882,6506,1,One Way,Walk-up,standard,0.157598,5,0,Sunday,True
14,124678322,98,2019-07-01 05:47:00,2019-07-01 07:25:00,3005,34.048500,-118.258537,3005,34.048500,-118.258537,17652,365,Round Trip,Annual Pass,electric,0.000000,5,0,Sunday,True
15,124673773,5,2019-07-01 05:48:00,2019-07-01 05:53:00,3042,34.049301,-118.238808,3027,34.049980,-118.247162,18940,30,One Way,Monthly Pass,electric,0.931517,5,0,Sunday,True
16,124674015,6,2019-07-01 05:50:00,2019-07-01 05:56:00,4306,34.057652,-118.292183,4312,34.066990,-118.290878,17624,30,One Way,Monthly Pass,electric,1.047902,5,0,Sunday,True
17,124674986,24,2019-07-01 05:51:00,2019-07-01 06:15:00,4325,34.022518,-118.400589,4325,34.022518,-118.400589,15439,30,Round Trip,Monthly Pass,smart,0.000000,5,0,Sunday,True
18,124674257,6,2019-07-01 05:55:00,2019-07-01 06:01:00,3016,34.052898,-118.241562,3014,34.056610,-118.237213,12297,30,One Way,Monthly Pass,standard,0.635466,5,0,Sunday,True
19,124674256,6,2019-07-01 05:58:00,2019-07-01 06:04:00,3042,34.049301,-118.238808,3036,34.039188,-118.232529,18972,30,One Way,Monthly Pass,electric,1.322968,5,0,Sunday,True
20,124674982,11,2019-07-01 06:06:00,2019-07-01 06:17:00,3066,34.063389,-118.236160,3024,34.057720,-118.248970,17355,30,One Way,Monthly Pass,electric,1.556873,6,0,Sunday,True
21,124674981,6,2019-07-01 06:12:00,2019-07-01 06:18:00,3022,34.046070,-118.233093,3022,34.046070,-118.233093,12391,30,Round Trip,Monthly Pass,standard,0.000000,6,0,Sunday,True
22,124675466,16,2019-07-01 06:13:00,2019-07-01 06:29:00,3014,34.056610,-118.237213,3051,34.045422,-118.253517,12297,30,One Way,Monthly Pass,standard,2.197608,6,0,Sunday,True
23,124675222,6,2019-07-01 06:17:00,2019-07-01 06:23:00,3014,34.056610,-118.237213,3030,34.051941,-118.243530,6704,30,One Way,Monthly Pass,standard,0.873018,6,0,Sunday,True
24,124675223,7,2019-07-01 06:17:00,2019-07-01 06:24:00,3014,34.056610,-118.237213,3030,34.051941,-118.243530,6220,30,One Way,Monthly Pass,standard,0.873018,6,0,Sunday,True
25,124675221,4,2019-07-01 06:18:00,2019-07-01 06:22:00,3042,34.049301,-118.238808,3030,34.051941,-118.243530,5976,30,One Way,Monthly Pass,standard,0.601249,6,0,Sunday,True
26,124675945,16,2019-07-01 06:22:00,2019-07-01 06:38:00,3040,34.053570,-118.266357,3046,34.052872,-118.247490,6728,30,One Way,Monthly Pass,standard,2.098294,6,0,Sunday,True
27,124675704,3,2019-07-01 06:28:00,2019-07-01 06:31:00,4390,34.069271,-118.296593,4410,34.063351,-118.296799,5728,1,One Way,Walk-up,standard,0.658341,6,0,Sunday,True
28,124675943,9,2019-07-01 06:29:00,2019-07-01 06:38:00,3034,34.042061,-118.263382,3007,34.050480,-118.254593,6679,365,One Way,Annual Pass,standard,1.352640,6,0,Sunday,True
29,124675942,7,2019-07-01 06:30:00,2019-07-01 06:37:00,3014,34.056610,-118.237213,3078,34.064281,-118.238937,6029,365,One Way,Annual Pass,standard,0.873813,6,0,Sunday,True
30,124676184,10,2019-07-01 06:30:00,2019-07-01 06:40:00,4312,34.066990,-118.290878,4306,34.057652,-118.292183,18920,30,One Way,Monthly Pass,electric,1.047902,6,0,Sunday,True
31,124676652,21,2019-07-01 06:30:00,2019-07-01 06:51:00,3014,34.056610,-118.237213,3019,34.038609,-118.260857,12077,1,One Way,Walk-up,standard,3.302670,6,0,Sunday,True
32,124676182,9,2019-07-01 06:31:00,2019-07-01 06:40:00,3076,34.040600,-118.253838,3042,34.049301,-118.238808,5737,30,One Way,Monthly Pass,standard,1.930137,6,0,Sunday,True
33,124675941,2,2019-07-01 06:35:00,2019-07-01 06:37:00,4227,34.029800,-118.270309,3025,34.032860,-118.268082,16997,365,One Way,Annual Pass,electric,0.420616,6,0,Sunday,True
34,124676180,5,2019-07-01 06:38:00,2019-07-01 06:43:00,3025,34.032860,-118.268082,3019,34.038609,-118.260857,17585,365,One Way,Annual Pass,electric,1.026166,6,0,Sunday,True
35,124676648,13,2019-07-01 06:39:00,2019-07-01 06:52:00,3066,34.063389,-118.236160,3024,34.057720,-118.248970,19061,30,One Way,Monthly Pass,electric,1.556873,6,0,Sunday,True
36,124678066,44,2019-07-01 06:40:00,2019-07-01 07:24:00,4220,34.074829,-118.258728,4220,34.074829,-118.258728,17546,1,Round Trip,Walk-up,electric,0.000000,6,0,Sunday,True
37,124676414,6,2019-07-01 06:41:00,2019-07-01 06:47:00,3026,34.063179,-118.245880,3068,34.053200,-118.250954,12375,30,One Way,Monthly Pass,standard,1.244191,6,0,Sunday,True
38,124677112,19,2019-07-01 06:41:00,2019-07-01 07:00:00,4220,34.074829,-118.258728,4220,34.074829,-118.258728,5752,1,Round Trip,Walk-up,standard,0.000000,6,0,Sunday,True
39,124677834,34,2019-07-01 06:41:00,2019-07-01 07:15:00,4220,34.074829,-118.258728,4220,34.074829,-118.258728,18974,1,Round Trip,Walk-up,electric,0.000000,6,0,Sunday,True
41,124676413,3,2019-07-01 06:44:00,2019-07-01 06:47:00,3062,34.047749,-118.243172,3069,34.050880,-118.248253,12111,365,One Way,Annual Pass,standard,0.663303,6,0,Sunday,True
42,124676645,5,2019-07-01 06:47:00,2019-07-01 06:52:00,3014,34.056610,-118.237213,3030,34.051941,-118.243530,6498,30,One Way,Monthly Pass,standard,0.873018,6,0,Sunday,True
43,124676644,4,2019-07-01 06:48:00,2019-07-01 06:52:00,3014,34.056610,-118.237213,3016,34.052898,-118.241562,6017,30,One Way,Monthly Pass,standard,0.635466,6,0,Sunday,True
44,124676643,5,2019-07-01 06:49:00,2019-07-01 06:54:00,3014,34.056610,-118.237213,3030,34.051941,-118.243530,6012,30,One Way,Monthly Pass,standard,0.873018,6,0,Sunday,True
45,124676874,6,2019-07-01 06:50:00,2019-07-01 06:56:00,3029,34.048851,-118.246422,3022,34.046070,-118.233093,12241,30,One Way,Monthly Pass,standard,1.513272,6,0,Sunday,True
46,124677342,16,2019-07-01 06:50:00,2019-07-01 07:06:00,3023,34.050911,-118.240967,3019,34.038609,-118.260857,11988,30,One Way,Monthly Pass,standard,2.599207,6,0,Sunday,True
47,124676642,3,2019-07-01 06:51:00,2019-07-01 06:54:00,3019,34.038609,-118.260857,3056,34.037460,-118.265381,17585,30,One Way,Monthly Pass,electric,0.518756,6,0,Sunday,True
48,124677339,14,2019-07-01 06:53:00,2019-07-01 07:07:00,4220,34.074829,-118.258728,3007,34.050480,-118.254593,6253,365,One Way,Annual Pass,standard,2.744868,6,0,Sunday,True
49,124677338,10,2019-07-01 06:55:00,2019-07-01 07:05:00,3027,34.049980,-118.247162,3022,34.046070,-118.233093,6293,30,One Way,Monthly Pass,standard,1.622876,6,0,Sunday,True
50,124677104,5,2019-07-01 06:58:00,2019-07-01 07:03:00,3014,34.056610,-118.237213,3030,34.051941,-118.243530,12074,30,One Way,Monthly Pass,standard,0.873018,6,0,Sunday,True
51,124678045,19,2019-07-01 07:01:00,2019-07-01 07:20:00,3078,34.064281,-118.238937,3054,34.039219,-118.236488,5943,30,One Way,Monthly Pass,standard,2.798632,7,0,Sunday,True
53,124678044,19,2019-07-01 07:03:00,2019-07-01 07:22:00,3027,34.049980,-118.247162,3027,34.049980,-118.247162,16523,30,Round Trip,Monthly Pass,electric,0.000000,7,0,Sunday,True
54,124677574,6,2019-07-01 07:06:00,2019-07-01 07:12:00,3067,34.045181,-118.250237,3030,34.051941,-118.243530,6244,30,One Way,Monthly Pass,standard,1.058341,7,0,Sunday,True
55,124677811,13,2019-07-01 07:06:00,2019-07-01 07:19:00,3014,34.056610,-118.237213,3048,34.041691,-118.235352,17488,30,One Way,Monthly Pass,electric,1.670933,7,0,Sunday,True
56,124677571,5,2019-07-01 07:07:00,2019-07-01 07:12:00,3014,34.056610,-118.237213,3030,34.051941,-118.243530,12338,30,One Way,Monthly Pass,standard,0.873018,7,0,Sunday,True
57,124677570,3,2019-07-01 07:09:00,2019-07-01 07:12:00,3042,34.049301,-118.238808,3016,34.052898,-118.241562,5737,30,One Way,Monthly Pass,standard,0.503485,7,0,Sunday,True
58,124677807,4,2019-07-01 07:13:00,2019-07-01 07:17:00,3014,34.056610,-118.237213,3016,34.052898,-118.241562,12053,30,One Way,Monthly Pass,standard,0.635466,7,0,Sunday,True
59,124678035,10,2019-07-01 07:13:00,2019-07-01 07:23:00,3026,34.063179,-118.245880,3005,34.048500,-118.258537,6117,30,One Way,Monthly Pass,standard,2.154127,7,0,Sunday,True
60,124678734,25,2019-07-01 07:14:00,2019-07-01 07:39:00,4300,34.048870,-118.274300,3005,34.048500,-118.258537,18937,30,One Way,Monthly Pass,electric,1.752367,7,0,Sunday,True
61,124677806,3,2019-07-01 07:15:00,2019-07-01 07:18:00,3042,34.049301,-118.238808,3030,34.051941,-118.243530,6717,30,One Way,Monthly Pass,standard,0.601249,7,0,Sunday,True
62,124678265,12,2019-07-01 07:15:00,2019-07-01 07:27:00,4293,34.062279,-118.271523,3005,34.048500,-118.258537,17783,365,One Way,Annual Pass,electric,2.104308,7,0,Sunday,True

In [44]:
mt_copy.loc[5000,:]

trip_id                          124986041
duration                                 1
start_time             2019-07-06 12:54:00
end_time               2019-07-06 12:55:00
start_station                         3042
start_lat                        34.049301
start_lon                      -118.238808
end_station                           3042
end_lat                          34.049301
end_lon                        -118.238808
bike_id                              17506
plan_duration                           30
trip_route_category             Round Trip
passholder_type               Monthly Pass
bike_type                         electric
trip_distance                          0.0
start_hour                              12
start_day_num                            5
start_day_name                      Friday
weekend                              False
Name: 5000, dtype: object

In [48]:
mt_copy[mt_copy["start_day_name"] == "Wednesday"].head()

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type,trip_distance,start_hour,start_day_num,start_day_name,weekend
2918,124843599,3,2019-07-04 00:06:00,2019-07-04 00:09:00,3008,34.046612,-118.262733,3064,34.046810,-118.256981,18530,30,One Way,Monthly Pass,electric,0.639650,0,3,Wednesday,False
2919,124892784,973,2019-07-04 00:28:00,2019-07-04 16:41:00,4405,34.051899,-118.293678,4405,34.051899,-118.293678,16385,365,Round Trip,Walk-up,electric,0.000000,0,3,Wednesday,False
2920,124843598,8,2019-07-04 00:33:00,2019-07-04 00:41:00,3038,34.046822,-118.248352,3075,34.042110,-118.256187,5913,365,One Way,Annual Pass,standard,1.016118,0,3,Wednesday,False
2921,124843855,105,2019-07-04 00:35:00,2019-07-04 02:20:00,4410,34.063351,-118.296799,4410,34.063351,-118.296799,17493,30,Round Trip,Monthly Pass,electric,0.000000,0,3,Wednesday,False
2922,124843854,21,2019-07-04 00:44:00,2019-07-04 01:05:00,4227,34.029800,-118.270309,3063,34.048038,-118.253738,12358,1,One Way,Walk-up,standard,2.738675,0,3,Wednesday,False

In [49]:
mt_copy['start_month_num'] = mt_copy['start_time'].dt.month
mt_copy["start_month_num"].unique()

C:\Users\shrut\AppData\Local\Temp\ipykernel_13788\2252108594.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mt_copy['start_month_num'] = mt_copy['start_time'].dt.month

array([7, 8, 9], dtype=int64)

In [50]:
mt_copy.head(-10)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,...,plan_duration,trip_route_category,passholder_type,bike_type,trip_distance,start_hour,start_day_num,start_day_name,weekend,start_month_num
0,124657107,5,2019-07-01 00:04:00,2019-07-01 00:09:00,4312,34.066990,-118.290878,4410,34.063351,-118.296799,...,30,One Way,Monthly Pass,standard,0.772401,0,0,Sunday,True,7
1,124657587,9,2019-07-01 00:07:00,2019-07-01 00:16:00,3066,34.063389,-118.236160,3066,34.063389,-118.236160,...,30,Round Trip,Monthly Pass,electric,0.000000,0,0,Sunday,True,7
2,124658068,5,2019-07-01 00:20:00,2019-07-01 00:25:00,4410,34.063351,-118.296799,4312,34.066990,-118.290878,...,30,One Way,Monthly Pass,electric,0.772401,0,0,Sunday,True,7
3,124659747,20,2019-07-01 00:44:00,2019-07-01 01:04:00,3045,34.028511,-118.256668,4275,34.012520,-118.285896,...,1,One Way,Walk-up,standard,3.702761,0,0,Sunday,True,7
4,124660227,27,2019-07-01 00:44:00,2019-07-01 01:11:00,3035,34.048401,-118.260948,3049,34.056969,-118.253593,...,30,One Way,Monthly Pass,standard,1.254969,0,0,Sunday,True,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92108,130053104,13,2019-09-30 22:42:00,2019-09-30 22:55:00,4432,34.139568,-118.362251,4426,34.149872,-118.378891,...,30,One Way,Monthly Pass,smart,2.175209,22,0,Sunday,True,9
92109,130053102,6,2019-09-30 22:43:00,2019-09-30 22:49:00,4390,34.069271,-118.296593,4304,34.062580,-118.290092,...,30,One Way,Monthly Pass,standard,1.036829,22,0,Sunday,True,9
92110,130053101,5,2019-09-30 22:56:00,2019-09-30 23:01:00,4420,34.168629,-118.377068,4413,34.158321,-118.370811,...,365,One Way,Walk-up,smart,1.340158,22,0,Sunday,True,9
92111,130053100,151,2019-09-30 22:59:00,2019-10-01 01:30:00,4345,33.995560,-118.481552,4345,33.995560,-118.481552,...,1,Round Trip,Walk-up,smart,0.000000,22,0,Sunday,True,9
92112,130161467,1440,2019-09-30 22:59:00,2019-10-02 06:17:00,3011,34.041130,-118.267982,3005,34.048500,-118.258537,...,1,One Way,One Day Pass,electric,1.331466,22,0,Sunday,True,9

In [51]:
metro.head(10)

,trip_id,duration,start_time,end_time,start_station,start_lat,start_lon,end_station,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type,bike_type
0,124657107,5,7/1/2019 0:04,7/1/2019 0:09,4312,34.066990,-118.290878,4410,34.063351,-118.296799,6168,30,One Way,Monthly Pass,standard
1,124657587,9,7/1/2019 0:07,7/1/2019 0:16,3066,34.063389,-118.236160,3066,34.063389,-118.236160,17584,30,Round Trip,Monthly Pass,electric
2,124658068,5,7/1/2019 0:20,7/1/2019 0:25,4410,34.063351,-118.296799,4312,34.066990,-118.290878,18920,30,One Way,Monthly Pass,electric
3,124659747,20,7/1/2019 0:44,7/1/2019 1:04,3045,34.028511,-118.256668,4275,34.012520,-118.285896,6016,1,One Way,Walk-up,standard
4,124660227,27,7/1/2019 0:44,7/1/2019 1:11,3035,34.048401,-118.260948,3049,34.056969,-118.253593,5867,30,One Way,Monthly Pass,standard
5,124659507,7,7/1/2019 0:51,7/1/2019 0:58,3056,34.037460,-118.265381,3031,34.044701,-118.252441,18530,30,One Way,Monthly Pass,electric
6,124662392,37,7/1/2019 1:22,7/1/2019 1:59,3047,34.039982,-118.266403,3047,34.039982,-118.266403,18877,30,Round Trip,Monthly Pass,electric
7,124663117,8,7/1/2019 2:06,7/1/2019 2:14,3069,34.050880,-118.248253,3022,34.046070,-118.233093,18984,30,One Way,Monthly Pass,electric
8,124664810,4,7/1/2019 2:43,7/1/2019 2:47,3014,34.056610,-118.237213,3030,34.051941,-118.243530,12126,30,One Way,Monthly Pass,standard
9,124669422,4,7/1/2019 4:17,7/1/2019 4:21,3075,34.042110,-118.256187,3064,34.046810,-118.256981,12398,30,One Way,Monthly Pass,standard

In [56]:
metro["start_time"][0]

'7/1/2019 0:04'

In [57]:
month_dict = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 12:"December"}
mt_copy["start_month_name"]= mt_copy["start_month_num"].apply(lambda y:month_dict[y])
mt_copy["start_month_name"].unique()

C:\Users\shrut\AppData\Local\Temp\ipykernel_13788\3227155754.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mt_copy["start_month_name"]= mt_copy["start_month_num"].apply(lambda y:month_dict[y])

array(['July', 'August', 'September'], dtype=object)